{% extends 'base.html.twig' %}

{% block title %}Hello SensorsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/vhosts/friendly-lewin.93-90-203-17.plesk.page/httpdocs/Trash_api/src/Controller/SensorsController.php'|file_link(0) }}">src/Controller/SensorsController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/vhosts/friendly-lewin.93-90-203-17.plesk.page/httpdocs/Trash_api/templates/sensors/index.html.twig'|file_link(0) }}">templates/sensors/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
